<% if flash[:notice] %> 
  <div class="ui warning message"><i class="warning icon"></i>
    <% flash[:notice].each do |msg| %>
      <%= msg[1][0] %>
      <br>
    <% end %>
  </div>
<% end %>

<h2>Edit Your Dog's Profile</h2>

<%= render "edit_dog" %>

