<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i>
  	<% if @first_dog %>
    	<%= flash[:notice] %>
    <% else %>
   		<% flash[:notice].each do |msg| %>
    		<%= msg[1][0] %>
    		<br />
    	<% end %>
    <% end %>
  </div>
<% end %>

<h2>Create Your Dog's Profile</h2>

<%= render 'dog_form' %>


<!--<script>
//   $(document).ready(function(){
//     $.each($(':checked'), function( index, value ) {
//       $(value).parent().addClass('active');
//     });
    
//     $('.ui.button').click(function(){
//       $(this).toggleClass('active');
//       var $this_checkbox = $($(this).children());
//       if ($this_checkbox.is(':checked')){
//         $this_checkbox.prop('checked', false);
//       } else {
//         $this_checkbox.prop('checked', true);
//       }
//     });
    
//     $('.check').click(function(){
//       $(this).parent().toggleClass('active');
//     });
//   });
  </script>-->
