<!DOCTYPE html>
<html>
<head>
  <title>Citydogshare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#f7f7f7">

	<div class="row">
		<div class="large-12 columns">
			<div class="ui teal inverted large menu">
			  <a class="item">Find a Dog</a>
			  <a class="item">Share a Dog</a>
			  <div class="right menu">
			    <a class="item">My Profile</a>
			    <a class="item">Sign Out</a>
			  </div>
			</div>
		</div>
	</div>
	<div class="row" style="background-color:#ffffff; padding-top:10px">
		<div class="large-4 columns">
			<p>Puppy kitty ipsum dolor sit good dog right paw food chew fluffy wagging. Bird Seed run teeth fish bed vitamins birds vaccine barky speak ferret kitty yawn feeder. Pet stick scratch biscuit smooshy tooth Buddy licks toys stripes roll over. House Train water field carrier water dog gimme five nest slobber meow stick kitty cage ferret kitten treats pet gate yawn cockatiel finch scratch. Kitty bird cat gimme five tail polydactyl teeth lol catz kisses tongue slobbery bird food lazy dog Spike fish. Slobbery scratch bark barky grooming window Fido finch sit. Meow litter scratch food Scooby snacks maine coon cat canary collar crate ferret run.</p><p>Kitty biscuit chirp carrier park fur dog. Bedding ID tag smooshy throw meow commands roll over speak play warm Rover wet nose parrot lazy cat bark finch. Park cage bedding meow food aquarium head play whiskers dinnertime brush. Hamster teeth speak shake bird seed warm toy bedding ID tag paws bird seed finch scratch. Meow puppy wag tail kitten food walk furry Scooby snacks fluffy dog meow left paw cockatiel kibble. Wet Nose aquatic brush swimming right paw nest vaccine critters fish tabby canary groom.</p>
		</div>
		<div class="large-8 columns">
			<!-- <p>Polydactyl cat tongue window teeth bed wag tail tail nest teeth window. Tabby licks stripes wag tail roll over wagging walk Spike sit fetch pet gate park pet gate. Twine water dog purr foot teeth bedding pet gate cockatiel lick bedding fur groom water. ID Tag shake tabby maine coon cat food catch food dragging. Nap twine play dead warm slobber swimming run teeth. Fleas foot pet food tail vitamins foot bird seed. Birds ball gimme five kitty heel crate Scooby snacks right paw string tongue finch. Mouse maine coon cat wagging ball lol catz string warm canary pet supplies polydactyl Fido ferret slobber. Twine field stay bird walk pet gate teeth bark scratcher nest house train grooming polydactyl feathers.</p><p>Vaccination wag tail litter box water paws fluffy slobber slobbery right paw pet supplies paws licks leash smooshy bark. Heel vaccination bark food dragging dog house toy hamster. Teeth run dog scratch collar tabby purr hamster maine coon cat run fast litter vitamins maine coon cat toys water commands scratch house train. Cockatiel cat scratcher slobber fish water run bird litter brush run fast scratch food. Lazy Cat cage wagging walk licks parrot cage warm pet toys feathers smooshy. Cat pet commands stay yawn drool. Fur feathers field puppy maine coon cat speak dinnertime. Pet warm critters paws toy tuxedo ferret.</p><p>Water Dog grooming pet food brush barky puppy ID tag field canary food walk throw mouse crate. Water dog house pet supplies Tigger Snowball fur bird seed brush fleas wet nose turtle. Pet Supplies aquatic tooth whiskers walk vaccination water dog commands vitamins. Wet Nose grooming kisses chow Scooby snacks stay chirp heel parakeet water barky fleas furry stay parrot scratch kitten play. Left Paw parrot grooming parakeet foot mouse. Slobber chow paws stay water string kitten scratch house train licks vaccine wag tail Spike pet food puppy.</p> -->

			<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          Elliot Fu
        </a> added you as a friend
        <div class="date">
          1 Hour Ago
        </div>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="pencil icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        You submitted a new post to the page
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        I'm having a BBQ this weekend. Come by around 4pm if you can.
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 11 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/helen.jpg">
    </div>
    <div class="content">
      <div class="date">
        4 days ago
      </div>
      <div class="summary">
        <a>Helen Troy</a> added <a>2 new illustrations</a>
      </div>
      <div class="extra images">
        <a><img src="http://semantic-ui.com/images/wireframe/image.png"></a>
        <a><img src="http://semantic-ui.com/images/wireframe/image.png"></a>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 1 Like
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/jenny.jpg">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          Jenny Hess
        </a> added you as a friend
        <div class="date">
          2 Days Ago
        </div>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 8 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/joe.jpg">
    </div>
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> posted on his page
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 5 Likes
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="http://semantic-ui.com/images/avatar/small/justen.jpg">
    </div>
    <div class="content">
      <div class="date">
        4 days ago
      </div>
      <div class="summary">
        <a>Justen Kitsune</a> added <a>2 new photos</a> of you
      </div>
      <div class="extra images">
        <a><img src="http://semantic-ui.com/images/wireframe/image.png"></a>
        <a><img src="http://semantic-ui.com/images/wireframe/image.png"></a>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 41 Likes
        </a>
      </div>
    </div>
  </div>
</div>
		</div>
	</div>

</body>
</head>