  <div class="row">
    <div class="large-12 columns">
      <% if flash[:notice] %>
          <div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
        <% end %>
    </div>
  </div>

  <div class="row">
    <!-- <div class="ui section divider"></div> -->

        <div class="large-4 columns">
          <h2><i class="paw icon"></i> We're dog lovers.</h2>
          <p>We believe that creating a healthy, supportive, active, and thriving community of dog lovers is the best way to care for dogs, protect them, educate about their needs, make new friends, and get the rest of them adopted into loving homes.</p>
        </div>
        
        <div class="large-4 columns">
          <h2><i class="world icon"></i> We're local.</h2>
          <p>Whether you have a dog or not, start making new friends in the SF Bay Area, Los Angeles, Humboldt County, Greater Portland, and Seattle Metro. Some of our newest groups have opened in SLO, SD, Boston, Brooklyn, Tuscon, Denver, and Vancouver.</p>
        </div>
        
        <div class="large-4 columns">
          <h2><i class="heart icon"></i> We're nonprofit.</h2>
          <p>Unlike other dog-sharing companies, City Dog Share is a federal 501c3 nonprofit charity. We exist to connect people and dogs, as well as aid dog shelters and other animal charities. Any donations are 100% tax deductible and help the entire City Dog Share community.</p>
        </div> 
  </div>
