
  <style type="text/css">
    #calendar
    {
      width: 900px;
      margin: 0 auto;
    }
  </style>

   <div id='calendar'></div>
<ul>
<%= @events.each do |event| %>
<li> <%= event.start_date %> </li>
<%end%>
</ul>









