<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i>
    <% flash[:notice].values.each do |msg| %>
      <%= msg[0] %>
      <br>
    <% end %>
  </div>
<% end %>

<h2>Create Event</h2>

<%= render 'event_form' %>