<!DOCTYPE html>
<html>
<head>
  <title>City Dog Share</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#f7f7f7">
	<!-- THIS IS THE GENREAL LAYOUT AT THE BASE OF CONTENT -->
<%= yield %>
</body>
</html>